@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>



<div class="start-page">
	<h1>Game</h1>
	<button @onclick="StartGame">Play</button>
</div>



@code {
	void StartGame() {

		// Навигация к лобби
		// NavigationManager.NavigateTo("/lobby");
	}
}




Welcome to your new app.
